@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i);






#header4-0 H1 {
  color: #ffffff;
  text-align: left;
  font-family: 'Playfair Display', sans-serif;
}
#header4-0 P {
  color: #f1c050;
  text-align: left;
}
#header4-0 B {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}
#msg-box5-3 .lead P {
  color: #0275d8;
  font-size: 60px;
  font-family: 'PT Serif', serif;
}
#menu-9 .navbar-toggler {
  color: #000;
}
#menu-9 .navbar-brand {
  font-family: 'Playfair Display', sans-serif;
}
#contacts2-h P {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#contacts2-h DIV {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}
#contacts2-h B {
  color: #f1c050;
}
#contacts2-h STRONG {
  color: #f1c050;
}
#social-buttons1-j .mbr-section-title {
  font-size: 25px;
  color: #d9534f;
}
